<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FUll Stack</title>


    <script>
    
    document.onreadystatechange = () => {
        if(document.readyState === 'interactive'){
          
            document.getElementById('userAgent').value = window.navigator.userAgent
            document.getElementById('userDate').value = new Date()

    
        }
    }
    
    
    </script>



</head>

<body>

    <div class="jumbotron">
        <h1 class="display-3">Bug Tracker</h1>
        <p class="lead">Sistema para Cadastro de Erros (Projeto desenvolvido na semama FullStack DevPleno)</p>
        <hr class="my-2">
        <!--<p>Erro Reportado com sucesso</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/" role="button">Retornar ao Cadastro</a>
        </p>-->
    </div>

    <div class="container">

        <h2>Cadastro</h1>

            <br>

            <form  method="POST">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" name="nome" id="nome" />

                <label for="nome">Email</label>
                <input type="text" class="form-control" name="email" id="email" />


                <div class="form-group">
                  <label for="">Classificação</label>
                  <select class="form-control" name="issueType" id="issueType">
                    <option value="">Selecione</option>
                    <option value="Critico">Critico</option>
                    <option value="Bug">Bug</option>
                    <option value="Melhoria">Melhoria</option>
                  </select>
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Como reproduzir o Erro</label>
                    <input type="text" class="form-control" id="erro" name="erro" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">Informe detalhes mais especifícos</small>
                  </div>

                  <div class="form-group">
                    <label for="exampleInputEmail1">Saída Esperada</label>
                    <input type="text" class="form-control" id="saida" name="saida" aria-describedby="emailHelp">
                     
                  </div>

                  <div class="form-group">
                    <label for="exampleInputEmail1">Saída Recebida</label>
                    <input type="text" class="form-control" id="recebida" name="recebida" aria-describedby="emailHelp">
                    
                  </div>

                  <div class="form-group">
                    <label for="exampleInputEmail1">Observações</label>
                    <input type="text" class="form-control" id="obs" name="obs" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">Deixe Sugestões/Duvidas para melhora no sistema</small>
                  </div>


                <input type="hidden" name="userAgent" id="userAgent" />
                
                <input type="hidden" name="userDate" id="userDate" />


                <button type="submit">Enviar Ticket
                </button>

            </form>

            <hr class="my-2">

            <br><hr class="my-2">

            <blockquote>Desenvolvimento: <a href="http://www.blogdomarcio.com.br" target="_blank">@blogdomarcio</a></blockquote>
    </div>

 

</body>

</html>