<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BugTracker - Erro Reportado com SUcesso</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <div class="jumbotron">
        <h1 class="display-3">Bug Tracker</h1>
        <p class="lead">Sistema para Cadastro de Erros (Projeto desenvolvido na semama FullStack DevPleno)</p>
        <hr class="my-2">
        <p>Erro Reportado com sucesso</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/" role="button">Retornar ao Cadastro</a>
        </p>
    </div>
</body>
</html>